<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.yanniks.app"
    android:versionCode="8"
    android:versionName="4.1rc2"
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity android:name=".select" />
        <activity
            android:name="de.yanniks.app.Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".http" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="yanniks.de"/>
                <data android:scheme="yanniksde" android:host="app"/>
            </intent-filter>
        </activity>
        <activity android:name=".social" android:label="@string/snetworks" />
        <activity android:name="org.sliit.FeedTabActivity" android:label="@string/app_name" android:configChanges="orientation"/>
        <activity android:name="org.sliit.SplashScreenActivity" android:label="@string/app_name" android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="blog.yanniks.de"/>
            </intent-filter>
        </activity>
        <activity android:name="org.sliit.FeedWebActivity" android:label="@string/app_name"/>
        <activity android:name="org.sliit.FeedItemActivity" android:label="@string/app_name"/>
        <activity android:name="org.sliit.FeedPreferenceActivity" android:label="@string/pref_name"/>
        <activity android:name=".webview" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".game" />
        
    </application>

</manifest>